@model IEnumerable<StorefrontUI2.Models.OrderVM>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>

<body>
    <h1>@ViewBag.Customer.Name's Orders</h1>

    <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(Model => Model.ID)
            </th>
            <th>
                Store Name
            </th>
            <th>
                @Html.ActionLink("Total Price", "CustomerOrders", new {sortby = ViewBag.SortPriceParameter, p_id = ViewBag.Customer.ID})
            </th>
            <th>
                @Html.ActionLink("Date Placed", "CustomerOrders", new {sortby = ViewBag.SortDateParameter, p_id = ViewBag.Customer.ID})
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @ViewData[Convert.ToString(item.StorefrontID)]
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.ActionLink("View Order Details", "ViewCustomerOrder", "Order",new {p_id = item.ID}, new {@style = "color:white", @class = "btn btn-secondary"})
                </td>
            </tr>
        }
    </tbody>
    </table>
    <p>
    @Html.ActionLink("Back", "ViewInfo", "Customer", new {p_id = ViewBag.Customer.ID}, new {@style = "color:white", @class = "btn btn-danger"})
</p>
</body>
</html>