@model IEnumerable<StorefrontUI2.Models.LineItemVM>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>

<body>
    <!-- Modal -->

    <h1>What Would you like to add to cart?</h1>
    <p>
        @using(Html.BeginForm("MakeOrder","Order", FormMethod.Get)){
            <br/>
            @Html.TextBox("Search") <input type = "submit" value="Search" placeholder="Product Name" />
            }
        @Html.ActionLink("Check out", "Checkout", "Order", new{@class="btn btn-primary", @style="color:white"})
        </p>
            <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price Per Item</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count()==0){
                <tr>
                    <td colspan="4"> No rows match search criteria</td>
                </tr>
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.ProductName.Name)</td>
                    <td>@Html.DisplayFor(mI => item.Quantity)</td>
                    <td>@Html.DisplayFor(modelItem => item.ProductName.Price)</td>
                    <td>

                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addquantity" onclick="setQtyModal(@item.ID, '@item.ProductName.Name')"> Add to Cart</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-action="PlaceOrder" class="btn btn-danger" style="position:relative; top:15px; width:100px">Back</a>

<div class="modal fade" id="addquantity" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="qtyTitle">Add Quantity</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="AddItem">
            <div class="form-group">
                <label>Quantity</label>
                <input id= "Quantity" name="Quantity" class="form-control"/>
                <span id="Quantity" class="text-danger"></span>
            </div>
            <input type="hidden" id="itemId" name="itemId" value="0"> 
            <button type="submit" asp- class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
    <script> 
    var setQtyModal = (id, name) => {
  document.getElementById("qtyTitle").innerHTML = "Purchase " + name;
  document.getElementById("itemId").value = id;}
</script>
</body>
</html>